<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>title</title>
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  <!-- <link rel="stylesheet" href="stylesheet.css" type="text/css"> -->
  </head>
  <body>
    <ol>
      <li><%= @unit.address %></li>
      <li><%= @unit.city %></li>
      <li><%= @unit.state %></li>
      <li><%= @unit.zip %></li>
      <li><%= @unit.county %></li>
      <li><%= @unit.rent %></li>
      <li><%= @unit.entity.name %></li>
    </ol>

  </body>
</html>